@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #ffffff;
  /* padding-top: 80px; */
  /* overflow: hidden; */
}

@layer utilities {
  .bg-graph-paper {
    background-image:
      linear-gradient(to right, #e5e7eb 1px, transparent 1px),
      linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
    background-size: 20px 20px;
    width: 100%;
    height: 100%;
    background-position: top left;
  }
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

span.marker {
  background: linear-gradient(transparent 50%, #ff506da8 80%);
  padding-bottom: 0.5px;
}

.hamburger span {
  transition: all 0.6s;
}
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


/* カスタムアニメーション */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.fade-out {
  animation: fadeOut 1s ease-in-out;
}

.slide-in-up {
  animation: slideInUp 1s ease-in-out;
}



#first-view-image.color {
  filter: grayscale(0);
  transition: filter 2s ease-in-out;
}

#first-view-text.color {
  color: white;
}

.grayscale {
  filter: grayscale(100%);
   transition: all 2s ease;
}

.grayscale-0 {
  filter: grayscale(0%);
   transition: all 2s ease;
}

.opacity-0 {
  opacity: 0;
  transition: all 2s ease;
}

.opacity-100 {
  opacity: 100%;
  transition: all 2s ease;
}

.heading07 {
	position: relative;
	/* padding-top: 50px; */
	font-size: 40px;
  font-family: 'Yu Mincho', serif, 'MS PMincho', 'Hiragino Mincho Pro', 'ヒラギノ明朝 Pro W3', '游明朝体', 'Yu Mincho', 'YuMincho', 'Times New Roman';
}

.heading07 span {
	position: relative;
	z-index: 2;
}

.heading07::before {
	content: attr(data-en);
	position: absolute;
	transform: rotate(-7deg);
	top:-80px;
	left: 110;
	color: rgba(224,66,114,0.6);
	font-size: 80px;
	font-weight: 400;
	font-family: luxus-brut, cursive;
	font-style: italic;
}